.YFzqO {
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    width: 100%;
    background:  0% 0% / cover rgb(255, 255, 255);
}

.carousel-caption {
    text-align: left !important;
    position: absolute !important;
    align-items: left !important;
    top: 15vh;
    right: 5vw;
    font-size: 8rem !important;
}
.slide-label {
    font-weight: 900;
    border-bottom: 1.5px solid white;
    width: fit-content;
}
.slide-para {
    font-size: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    width: 60%;
    min-width: 490px;
    font-weight: 900;

}
.carousel-item {
    max-height: 100vh;
}