.routines-container {
    color: rgb(247, 245, 245);
    background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.routines-header {
    font-size: 5rem;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    transition: .5s;
    width: fit-content;
    
}
.routines-header:hover {
    font-size: 6rem;
}

.child-routine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 25.2%;
}

.child-activity {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* padding: 30px !important; */
}
.routine-words {
    font-weight: 700;
    color: black;
}
.activities-container {
    z-index: 1000;
}
.allActivities {
    display: flex;
    padding: 5px;
    width: 100vw
}
tr {
    display: table-row;
    width: 1000px !important;
}
table tbody {
    width: 50%;
    display: table;
}
table {
    text-align: left;
    display: table;
    justify-content: center;
    caption-side: bottom;
    border-collapse: collapse;
    border-spacing: 2px;
}
tbody {
    display: table;
    vertical-align: middle;
}
table td {
    border: 2px solid black;
    width: 25%;
}
tbody td, tbody th {
    padding: 0.4444444444rem 0.5555555556rem 0.5555555556rem;
}
tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1;
    z-index: 1001;
}
th {
    width: 200px;
}
td {
    width: 200px;
    color: black;
}
.tbody-header {
    border: 1px solid #0086B3;
    background-color: #0086B3;
}

.horizontal-rule {
    border: 2px solid rgb(16, 8, 248);
    border-radius: 50%;
}

.tbody-activities{
    transition: all .4s ease-in-out;
}
.tbody-activities:hover {
    transform: scale(1.1);
}
.my-routine-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10.4%;
    color: rgb(247, 245, 245);
    background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
}

.individual-my-routines {
    border: 2px solid black;
    margin: 10px;
    padding: 8px;
    color: black;
    transition: ease .4s all;
    border-radius: 6px;
}
.individual-my-routines:hover {
    transform: scale(1.1);
}

.edit-my-routine-button {
    margin: 4px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: white;
}
.edit-my-routine-input {
    margin: 4px;
    padding: 4px;
    border: none;
    border-radius: 6px;
    background-color: white;
}
.edit-my-routine-button:hover {
    background-color: rgb(227, 226, 226);
}

/****** Profile ********/

.profile-container {
    padding-top: 10vh;
    background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nothing-to-see-here {
    padding-bottom: 48vh;
}