.activities-container { 
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
}

.activities-header {
    font-size: 5rem;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    transition: .5s;
    width: fit-content;
}
.activities-header:hover {
    font-size: 6rem;
}
.activity-table .activity-body {
    width: 100%;
    height: 100%;;
    display: table;
}

.activities-page-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}
.individual-activity {
    margin-top: 20px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    border: 2px solid black;
    transition: ease .4s all;

}

.individual-activity:hover {
    transform: scale(1.1);
}
.th-activity {
    color: rgb(228, 228, 228);
}
.ActivityForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background: linear-gradient(90deg, rgb(203, 140, 225) 10%, rgb(244, 134, 103) 91%);
    border-radius: 6px;
    margin-bottom: 70px;
}
.my-routine-form {
    min-width: 488px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    background: linear-gradient(90deg, rgb(203, 140, 225) 10%, rgb(244, 134, 103) 91%);
    border-radius: 6px;
    margin-bottom: 70px;
}
.RoutineForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.activity-input {
    border: 0px;
    padding: 6px;
    border-radius: 6px;
    margin: 10px;
    width: 95%;
}
.activity-button {
    border-radius: 6px;
    border: 0px;
    padding: 8px;
    margin: 8px;
}
.activities-container-posts {
    display: flex;
    padding: 5px;
}