#root {
  text-align: center;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: hsla(13, 79%, 81%, 1) 91%;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: rgb(180, 0, 245) 9%;
    border-radius: 20px;       /* roundness of the scroll thumb */
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
nav {
  height: 50px !important;
  background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
  position: sticky;
  top: 0px;
}
.top-of-page {
  font-weight: 800;
  padding-bottom: 10px;
}
.navbar-div {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 10%;
  padding-bottom: 6px;
  padding-left: 15%;
  font-size: 1.5rem;
  background: linear-gradient(90deg, hsla(285, 39%, 85%, 1) 9%, hsla(13, 79%, 81%, 1) 91%);
  color: black;
}

a#home {
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#publicRoutines {
  margin-left: 4px;
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#publicActivtives {
  margin-left: 4px;
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#login {
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#logout {
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#register {
  height: 28px;
  font-weight: 800;
  color: black;
  margin-left: 4px;
  padding-bottom: 33px;
}
#profile {
  margin-left: 4px;
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
#routineForm {
  margin-left: 4px;
  height: 28px;
  font-weight: 800;
  color: black;
  padding-bottom: 33px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.container {
  height: 100px;
}

/****** Footer *******/
.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 12px solid rgba(128, 128, 128, 0.168);
}
.main-container {
display: flex;
justify-content: center;
width: 100% !important;
gap: 5%;
margin-bottom: 30px;
}
.contact-img {
  height: 30px;
}
.socials {
  margin-top: 10px;
}
hr {
  color: #002a3a;
  margin-left: 10%;
  margin-right: 10%;
}
.img-fitness-div {
  display: flex;
  align-items: center;
}
.child-container1 {
  color: #002a3a;
  width: 200px;
  text-align: left;
}
.child-container2 {
  color: #002a3a;
  width: 200px;
  text-align: left;
}
.child-container3 {
  color: #002a3a;
  width: 200px;
  text-align: left;
}
.child-container4 {
  color: #002a3a;
  min-width: 189px;
  text-align: left;
}
.social-img {
  margin: 5px;
  width: 60px;
}
.fitness-img {
  width: 50px;
}


/******* MEDIA ******/
@media (min-width: 900px) and (max-width: 1180px) {
  .slide-para {
    font-size: 52%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    width: 75%;
    font-weight: 900;
}
.activities-container {
  padding-top: 80px;
}
.routines-container {
  padding-top: 60px;
}

}
@media (min-width: 320px) and (max-width: 900px) {
  .register-container {
    margin-top: 50px;
  }
  .top-of-page {
    height: 4vh;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .navigation-bar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .carousel {
    height: 83vh;
  }
  .carousel-inner {
    height: 83vh;
  }
  .HeroModule__StyledVideo-sc-1l6ebmh-4 {
    height: 83vh;
  }
  .carousel-caption {
    margin-top: 20px;
    width: 100% !important;;  
  }
  .slide-para {
    font-size: 42%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
    width: 75%;
    font-weight: 900;
}
  .slide-label {
    width: 40% !important;;  
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 11, 19, 0.753);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 60px 28px 20px;
    width: 100%;
}

.register-form {
  display:flex;
  justify-content: center;
}
.login-form-container {
  padding-right: 10px;
  padding-left: 10px;
}
.slide {
  margin-bottom: 50px !important;
}
hr {
  border-radius: 50%;
  border: 2px solid black;
  width: 80%
}
/**** FOOTER ******/
.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0px !important;
  border: none;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.ActivityForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.activities-container {
  padding-top: 100px;
}
.routines-container {
  padding-top: 100px;
}
.allActivities{
  width: 100%;
}
.child-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
td {
  width: 40% Important;
}
.routines-header {
  margin-top: 10px;
}
.child-container1 {
  color: #002a3a;
  width: 200px;
  text-align: left;
}
.child-container2 {
  color: #002a3a;
  width: 100px;
  text-align: left;
}
.child-container3 {
  color: #002a3a;
  width: 100px;
  text-align: left;
}
.child-container4 {
  color: #002a3a;
  text-align: left;
}

}